body {
    background-color: aliceblue;
}

textarea {
    min-height: 400px;
}

.card-body {
    transition: transform 0.3s ease;
    border-radius: 3ex;
}

.card-body:hover {
    transform: translateY(-5px);
}

.btn {
    margin: 3px;
}