body {
    background-color: aliceblue;
}

textarea {
    min-height: 400px;
}

.card-body {
    transition: transform 0.3s ease;
    border-radius: 3ex;
}

.card-body:hover {
    transform: translateY(-5px);
}

.btn {
    margin: 3px;
}

.timestamp {
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 0.85em; 
    color: rgb(81, 79, 79);
}